
/*login css*/

.login-button{
    width: 160px;
    padding: 10px;
    border-radius: 0;
    color: #fff;
    background-color: #d32027;
    border-color: #d32027;
}
.br-0{
    border-radius: 0!important;
}
.box-pd{
    padding: 0.695rem .75rem!important;
}
.font-22{
    font-size: 22px!important;
}
.color{
    color: #d32027!important;
}
.line{
    margin-left: -3em!important;
    width: 97%;
}
.form-color{
    background-color: #d3202752!important;
    border: 1px solid #d3202752!important;
        color: #fff!important;
}
.form-control:focus {

    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255)!important; 
}
.background-color{
    background: #379fa8!important;
}
.logout-pd{
    border: 1px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
}
.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #32383e;
    padding: 22px!important;
}
.header-table-color{
  background: #ebeded;
    color: #1f629b;
    font-weight: 400;

}
.table td, .table th {
    padding: 1.5rem;
    vertical-align: top;
    border-top: 3px solid #ffffff;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f0fafc;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #f0fafc;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-weight: 500;
}