
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.or{
      margin-left: 23px;
    font-weight: bold;
}
.button-my{
background-color: #f2f2f2;
    color: #2681dc;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}
.back-hight{
	height: 88px;
    background: #000;
}
.bg-black{
	color: #000;
}
.red{
    color: #d10a11;
}
.mt-6{
	margin-top: 6rem!important;
}
.boder-left{
	border-left:2px solid #d10a11 ; 
	height: 300px;
}
.self-center{
	    align-self: center;
}
.box-home{
	border: 1px solid #000;
    padding: 6px 18px 6px 18px;
}
.header-plus{
    border: 1px solid #000;
    padding: 0 20px 0 20px;
    background-color: #d10a11;
    color: #fff;
    font-weight: 500;
}
a{
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.highlite:hover {
    color: #fff;
    text-decoration: unset;
    background: #d10a11;
    border: 1px solid #d10a11;
}
.highlite:active {
    color: #fff;
    text-decoration: unset;
    background: #d10a11;
    border: 1px solid #d10a11;
}
.left{
    width: 50%

}
.right{
   width: 50% 
}
.flex{
    display: flex;
}
.bg-red{
    background: #d10a11;
}
.bg-coffie{
    background: #1c1b1b;
}
.text-unset:hover{
text-decoration: unset;
}
.pd-top-fix{
        padding: 25px 10px 15px 0;
}
.ps-fix{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.white{
    color: #fff!important;
}
.table-add{
    padding: 134px 0px 1px 1px;
}
.table-head{
    background: #d7d5d6;
    color: #000;
}
.font-400{
    font-weight: 400!important;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-weight: 400;
}
.table-hover tbody tr {
    background-color: rgba(0,0,0,.075);
}
table tr{
    border-bottom: 7px solid white;
}
.add{
    width: 100%;
    padding-bottom: 18px;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 31px;

}
.btn-f:focus, .btn-f:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem;
}
.font-40{
    font-weight: 600;
}
.btn-red{
    background: #d10a11;
    color: #fff;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #fff;
}
.radius-50{
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 3px 37px 4px 37px!important;
}


/* table css */
.form-container {
  display: none;
}

.table-container, .DataTable {
  position: relative;
  padding: 2%;
  overflow-y: hidden;
}


.table-header button {
  float: right;
}
.table-header {
  overflow: hidden;
}
#DataTables_Table_0_paginate{
  float: right;
}
#DataTables_Table_0_filter label {
  float: right;
}

.view, .add-customer {
  margin-top: 200px;
  margin-left: 25%;
  font-size: 2em;
}

.message {
  display: none;
  position:fixed;
  bottom:0;
  right:0;
  padding: 10px;
  background-color: #494545;
  color: #FFFFFF;
  font-size: 1.3em;
  border-style: ridge;
  border-width: 2px 0 0 2px;
  border-color: #3A3838;
  border-radius: 10%;
  width: 10%;
}

.error-msg {
  color: #C93131;
}

/*.form-container form {
  width: 40%;
  padding: 2% 2% 1% 2%;
  margin-left: 30%;
}*/
.form-container {
  padding-bottom: 30px;
}
/*.form-container input {
  padding: 3px;
  width: 300px;
}*/
.bg-lit{
  background-color: #d7d5d6!important;
}
.border-td-0{
      border-radius: 0!important;
      border: 1px solid #f2f2f2!important;   
       box-shadow: 0 0 0 0.2rem rgb(242, 242, 242)!important;
}
.form-container .rdo-gender {
  vertical-align: top;
  width: auto;
}
.form-container .radio-gender {
  padding-left: 10px;
}
.form-container span {
  padding-left: 8px;
}

.add-button, .update-button, .reset-button {
  float: right;
  margin-right: 10px;
}
table.dataTable tbody tr
{
  background-color: #f2f2f2!important;
}
.bg-f2{
      background: #f2f2f2;
}
@media (min-width: 576px){
  .modal-dialog {
    max-width: 1027px;
    margin: 9.75rem auto;
} 

}
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: collapse!important;
    border-spacing: 0;
}
.c-data{
    padding-right: 48px!important;
    border-top: 1px solid #f2f2f2!important;
}
/* End Table css */

.width{
  width: 100%;
}
.add a:hover {
    color: #fff;
    
}
.edit_details{
    color:#7080be;
}
.details-control{
    color:#7080be;
}
.inside{
    border-bottom: 7px solid #f2f2f2!important;
   
}
.pd-04{
    padding: 0.4rem!important;
}



/* Tab code */

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 24px;
    width: 50%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {

    display: none;
    padding: 100px 20px;
    height: 100%;
}
.border{
    border-right: 1px solid #fff;
}
button:focus {
    outline: 1px dotted;
     outline:  none;
}
.back{
    position: absolute;
    margin-top: -37px;
    margin-bottom: 17px;
    margin-left: 25px;
}



/* 
add css */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 23px 45px 23px 45px;
    min-width: 300px;
  }
  
  h1 {
    text-align: center;  
  }
  
  /* input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  } */
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
     background-color: #f2f2f2;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    /* background-color: #bbbbbb; */
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    /* background-color: #4CAF50; */
  }
  .bg-top{
    background: #dee2e6;
    
  }

  .heade-title{
    color: #000;
    font-weight: 700;
    position: relative;
    top: 8px;
  }
  .padding{
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .add_show{
      display: none;
  }
  .title-edit{
    color: #0056b3;
    font-weight: 700;
    position: relative;
    top: 8px;
  }
  .edit-color{
    color: #007bffa6;
    text-decoration: blink;
  }
  .edit-color:hover{

        color: #007bffa6;
        text-decoration: blink;
    
  }
.add_new{
    background-color: #f2f2f2;
    color: #4d9ff6;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}
table.dataTable thead .sorting_asc {
    background-image: url(../images/sort_asc.png)!important;
}
table.dataTable thead .sorting_desc {
    background-image: url(../images/sort_desc.png)!important;
}


/* check box css */

/* The container */
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background-color: #d10a11;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pt-4, .py-4 {
    padding-top: 0.4em!important;
}
